*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: blue;
    height:34vh;
}
@media screen and (max-width:800px){
    body{
        background-color: brown;
    }
    .container{
        background-color: black;
        color:bisque
    }
    
}