*{
    margin:0;
    padding:0;
}
ul{
    background-color:black;
    color:white;
    width:344px
}
.main{
    background-color: rgb(2, 2, 17);
    color:white
}
.bg{
    width:600px;
    height:600px;
    background-image: url(R.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}